.mainContainer {
  width: 100%;
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
}
.profile {
  border: 2px solid black;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  background-color: #101010;
  color: #fefedf;
  height: 80px;
  border-radius: 100%;
  margin-top: 10px;
}
.profile p {
  font-size: 30px;
  font-weight: bolder;
}
.name {
  font-weight: bold;
  font-size: 20px;
  opacity: 70%;
}
.personContainer {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.poanContainer {
  display: flex;
  align-items: center;
  padding: 20px;
  padding-right: 40px;
  padding-left: 40px;
  justify-content: space-between;
  background-color: #101010;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.poan {
  width: 100%;
  display: flex;
  align-items: center;
  /* background-color: #5772ff; */
  /* height: 100%; */
  justify-content: space-around;
  flex-direction: column;
}
.icon {
  font-size: 40px;
  color: #5772ff;
}
.poan p {
  font-size: 20px;
  color: white;
}
.chart {
  width: 50%;
}

@media screen and (max-width: 900px) {
  .chart {
    min-width: 400px;
  }
}

@media screen and (max-width: 600px) {
  .chart {
    min-width: 300px;
  }
}

@media screen and (max-width: 300px) {
  .chart {
    min-width: 250px;
  }
}
