.mainContaier {
  width: 100%;
  position: relative;
}
.container {
  position: sticky;
  top: 0;
  color: #5772ff;
  font-size: 18px;
  width: 100%;
  display: flex;
  background-color: #101010;
  justify-content: space-around;
  align-items: center;
}
.container p {
  cursor: pointer;
}
.ekle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
}
.ekle p {
  margin: 5px;
}
@media screen and (max-width: 550px) {
  .container p {
    font-size: 17px;
  }
}
