.postMainContainer {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  position: relative;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.post {
  padding: 10px;
  margin-top: 40px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  border: 2px solid #101010;
  background-color: #fefedf;
  width: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.post p {
  font-size: 18px;
}
.personContainer {
  display: flex;
  width: 100%;
  justify-content: flex-start;
}
.name {
  font-weight: bold;
  opacity: 70%;
}

.personContainer p {
  margin: 16px;
}
.profile {
  border: 2px solid black;
  display: flex;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  width: 50px;
  background-color: #101010;
  color: #fefedf;
  height: 50px;
  border-radius: 100%;
  margin: 2px;
}
.profile p {
  font-size: 20px;
  font-weight: bolder;
}
.titleContainer {
  text-align: center;
  word-wrap: break-word;
  color: #101010;
}
.likeCommentsMainContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.likeCommentsContainer {
  display: flex;
  justify-content: space-around;
}
.likeCommentsContainer p {
  margin: 5px;
  font-weight: bold;
}
.icon {
  font-size: 20px;
  margin: 5px;
  cursor: pointer;
  z-index: 1;
}

@media screen and (max-width: 1100px) {
  .post {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .post {
    width: 90%;
  }
}

@media screen and (max-width: 700px) {
  .postMainContainer {
    margin-bottom: 100px;
  }
  .post {
    width: 100%;
    border-top: 2px solid #101010;
    border-bottom: 2px solid #101010;
    border-left: 0;
    border-right: 0;
    border-radius: 0;
  }
}

@media screen and (max-width: 550px) {
  .titleContainer p {
    font-size: 15px;
  }
  .personContainer p {
    font-size: 17px;
  }
  .profile p {
    font-size: 17px;
  }
  .likeCommentsContainer p {
    font-size: 17px;
  }
  .icon {
    font-size: 17px;
  }
}
