.mainContainer {
  margin-top: 30px;
  /* background-color: black; */
  /* height: 300px; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 40px;
  overflow-x: hidden;
}

.childs {
  margin-top: 40px;
  /* background-color: black; */
  height: 100%;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.child {
  width: 25%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  cursor: pointer;
  border: 1px solid transparent;
  height: 100%;
  border-radius: 5px;
  background-color: #5772ff;
}
.child img {
  border-radius: 100px;
  width: 150px;
  height: 150px;
}
.child p {
  color: #fefedf;
}
.child h1 {
  color: #fefedf;
}
.icon {
  font-size: 80px;
}
.iconR {
  position: absolute;
  right: 0;
  font-size: 40px;
  margin-right: 20%;
  color: #5772ff;
  z-index: 1;
  top: 50;
}
.iconL {
  position: absolute;
  z-index: 1;
  font-size: 40px;
  color: #5772ff;
  margin-left: 20%;
  left: 0;
  top: 50;
}
@media screen and (max-width: 768px) {
  .child {
    width: 80%;
  }
  .child h1 {
    font-size: 18px;
  }
  .child p {
    font-size: 11px;
  }
  .child img {
    width: 130px;
    height: 130px;
  }
  .icon {
    font-size: 50px;
  }
  .iconR {
    margin-right: 5px;
    font-size: 20px;
  }
  .iconL {
    font-size: 20px;
    margin-left: 5px;
  }
}
