.testContainer {
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.child {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  position: relative;
  border: 2px solid #5772ff;
  border-radius: 10px;
  background-color: #101010;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  align-items: center;
  flex-direction: column;
}

.icon {
  cursor: pointer;
  margin-left: 10px;
  font-size: 30px;
  z-index: 1;
  color: #101010;
}
.trashIcon {
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  color: white;
  margin: 30px;
  transition: 0.2s;
  right: 0;
  top: 0;
}
.questionContainer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.question {
  width: 80%;
  margin: 10px;
  font-size: 20px;
  border: 1px solid transparent;
  background-color: white;
  color: #101010;
  outline: none;
  height: 35px;
}
.ekle {
  width: 100%;
  margin-top: 10px;
}
.answerContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 100%;
}
.choseFile {
  height: 40px;
  color: #5772ff;
  border: 1px solid #5772ff;
  display: flex;
  justify-content: center;
  cursor: pointer;
  align-items: center;
  width: 100%;
  text-align: center;
  font-weight: 600;
  border-radius: 10px;
}
.choseFileIcon {
  font-size: 30px;
}
.answer {
  margin: 10px;
  outline: none;
  color: white;
  box-shadow: rgba(0, 77, 177, 0.35) 0px 5px 15px;
  font-size: 20px;
  border: 1px solid transparent;
  background-color: #101010;
  border-radius: 5px;
  height: 35px;
}
.answerKey {
  background-color: #fff;
  outline: none;
  margin: 10px;
  border: 4px solid #8aff8e;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}
.answerKey option :hover {
  font-weight: bold;
}
.errors {
  color: red;
}
.doneContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-right: 5px;
  margin-top: 10px;
}
.doneContainer button {
  width: 80px;
  color: #f9f8ff;
  font-weight: bold;
  height: 40px;
  border: 1px solid transparent;
  border-radius: 7px;
  background-color: #101010;
  transition: 0.2s ease-in;
}
.doneContainer button:hover {
  color: #5773ff;
}
.trashIcon:hover {
  color: rgb(255, 59, 59);
}
@media screen and (max-width: 1100px) {
  .child {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .child {
    width: 90%;
  }
}
@media screen and (max-width: 700px) {
  .trashIcon {
    margin: 5px;
  }
  .icon {
    margin-top: 10px;
  }
  .testContainer {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 380px) {
  .testContainer {
    padding-bottom: 70px;
  }
  .question {
    width: 100%;
  }
  .answerContainer {
    width: 100%;
  }
  .answer {
    width: 100%;
    margin: 0px;
    margin-top: 5px;
  }
}
